.sign-up__title {
    color: #ffffff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding-bottom: 50px;
    text-align: center;
    padding-top: 60px;
}