.header {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(282px + (880 - 282) * ((100vw - 320px) / (1280 - 320)));
    max-width: 880px;
    min-height: calc(56px + (74 - 56) * ((100vw - 320px) / (1280 - 320)));
}

@media screen and (max-width: 700px) {
    .header {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding-left: calc(27px + (200 - 27) * ((100vw - 320px) / (1280 - 320)));
    }
}